.form-login{
    background-color: var(--green2);
    border-radius: 20px;
}

.form-login h2{
    color: #fff;
    font-weight: 700;
}

.form-login input{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0;;
    border-bottom: 2px solid var(--yellow);
    box-shadow: none;
}

.form-login input:focus{
    background-color: transparent;
    color: white;
    outline: transparent;
    box-shadow: none;
}

.form-floating>.form-control-plaintext~label, 
.form-floating>.form-control:focus~label, 
.form-floating>.form-control:not(:placeholder-shown)~label, 
.form-floating>.form-select~label{
    opacity: 1;
}

.form-login label{
    color: var(--yellow);
    opacity: 1;
}

.form-login .form-floating::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--yellow);
    left: 0;
    bottom: -3px;
}

.form-login .form-floating::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--yellow);
    right: 0;
    bottom: -3px;
}

.btn-submit{
    background-color: var(--yellow);
    width: 200px;
    border: none;
    border-radius: 25px;   
}
.btn-submit:hover{
    background-color: var(--yellow);
    border: none;
    opacity: .9;
}


.form-login::before{
    content: "";
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    top: -5rem;
    left: -5em;
    z-index: -1;
    background-color: var(--yellow);
    filter: blur(80px);
}

.form-login::after{
    content: "";
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    bottom: -5rem;
    right: -5em;
    z-index: -1;
    background-color: var(--blue);
    filter: blur(80px);
}